- import play.api.Play.current
- import views.Tags._

-@ var title: String = "This is Play 2 Scala Scalate sample project"
-@ var body: String
-@ var modeCssToken: Option[String] = if(play.api.Play.isDev) None else Option("min")

!!! 5
html(lang="en")
  head
    title #{title}
    -# todo : fix the following duplicated call for bootstrap lib
    = linkStyleSheets(library="bootstrap",suffix= modeCssToken)
    = linkStyleSheets(library="bootstrap",files= Seq("responsive"), suffix= modeCssToken)
  body
    .container-fluid
      .row-fluid
        .span2
        .span8
          = unescape(body)
        .span1

    -# Using jquery minified by default
    = linkJavascripts(library="underscore", suffix= Option("min"))
    = linkJavascripts(library="jquery", version= Option("1.8"), suffix= Option("min"))

    :javascript